@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.logo{
    display: flex;
    margin-top: 2em;

}
.logo h1{
    margin-left: 10px;
    margin-bottom: 5px;
}
.logo span{
    color:#990000 ;
}

.logo img{

position: relative;
width: 80px;
height: 48px;
}

nav{
margin-top: 3em;
margin-right: 2em;
}

nav a{
    text-decoration: none;
    display: inline;
    padding: 10px;
    color: #000;
    font-size: 20px;
  
}

.flex-row-3{
    display: flex;
    gap: 13px;
    margin-top: 3em;
    background-color:grey ;
    border-radius: 50px;
    margin-right: 2em;
}
input ::placeholder{
    color: #ffffff;
}
input{
    color: #ffffff;
    padding-left: 10px;
    font-size: 15px;
    width: 120px;
    border-radius: 10px;
    background: grey ;
    outline: none;
    border: none;
}
.flex-row-3 p{
    margin-top: 9px;
    margin-right: 15px;
    font-size: 15px;
    color: #ffffff;
}
button{
    background-color: #990000;
    color: #fff;
    outline: none;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    text-decoration: none;
}

button:hover{
    background-color: transparent;
    color: #990000;
    outline: none;
    border: 1px solid #990000;
    width: 90px;
    height: 30px;
    border-radius: 20px;

}
.home-text{
    margin-top: 3em;
    
   
}
.home-text h1{
    line-height: 1.5em;
    font-weight: 700;
    font-size: 48px; 
    margin-left: 2em;
}
.home-text h1 span{
    color: #990000;
}
.home-container{
    display: flex;
    justify-content: space-between;
}
.home-container .row-2 img{
width: 608px;
height: 350px;
margin-right: 4em;
border-radius: 19px;

}
.call-to-action{
    display: flex;
    margin-left: 6em;
  
}
.call-to-action a button {
    margin: 15px;
    width: 100px;
    color: #990000;
  
}
.call-to-action a button {
    background-color: transparent;
    outline: none;
    border: 1px solid #990000;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    text-decoration: none;

}
.call-to-action a :hover{
    background-color: #990000;
    color: #fff;
    outline: none;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}
.about-row-1 h1{
    margin-left: 2em;
width: 738px;
height: 134px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
color: #000000;
}

.about-row-1 img{
    display: none;
    }

.about-row-1 span{
    color: #990000;
    line-height: 2em;
}
.about-row-2{
    margin: 2em;
}
.about-row-2 h3{
text-align: center;
margin-bottom: 2em;
margin-left: 2em;
width: 397px;
height: 84px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
color: #000000;
}
.about-row-2 img{
width: 450px;
height: 300px;
}


.section-2{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}
.about-section-2-row-1{
    display: flex;
    margin-left: 2em;
    margin-bottom: 3em;
}

.about-section-2-row-1 img{
    width: 300px;
}
.about-section-2-row-1 h2{
position: absolute;
width: 316px;
height: 91.78px;
margin-left: 4em;
margin-top: 4em;
font-weight: 700;
font-size: 48px;
}

.about-section-2-row-2 p{
    width: 40vw;
}
.about-section-2-row-2 .p-1{
width: 650px;
left: 627px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.5em;
color: #000000;
margin-bottom: 1.5em;
}

.about-section-2-row-2 .p-2{
width: 713px;
left: 627px;
top: 1066px;
margin-bottom: 1.5em;
font-family: 'DM Sans';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 1.5em;
color: #3b3838;
}

.about-section-2-row-2 .p-3{

width: 713px;
left: 630px;
top: 1298px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 1.5em;
color:#3b3838;
}

.section-3{
background: #FDFAF7;
text-align: center;
}

.section-3 span{
    color:#3b3838;
    font-weight: 700;
}

.section-3 h1{
    padding-top: 2em;
    color: #000000;
    font-size: 48px;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
text-align: center;
line-height: 140%;;
}

.section-3 h3{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
text-align: center;
color: #3b3838;
}


.footer-text-container{
    position: relative;
height: 300px;
background: url('./assets/Images/Rectangle 19.png'), rgba(0, 0, 0, 0.75);
filter: brightness(80%);
background-size: cover;
background-size: 100%;
text-align: center;
line-height: 200px;
}

.footerText{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 140%;
color: #FFFfff;
text-align: center;
padding: 2em;
text-transform: uppercase;
filter: brightness(100%);
}

.footerText p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;

}

.media-icons {
    background: #990000;
    text-align: center;
    padding-top: 2em;
   height: 100px;
    
}

.media-icons img{
    width: 48px;
    height: 48px;
    margin: 15px;
}
.team{
    display: flex;
    justify-content: space-between;
}

.single-team{
    background-color: #ec8013;
    margin: 2em;
    border-radius: 0px;
width: 250px;
height: 258px;
background: #FFFEFD;
border-radius: 19px;
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
line-height: 1.4em;
font-weight: 700;

}
.single-team img{
    margin-top: 20px;
}
.single-team .p-2{
color: #990000;
}


 /* mediaqueries */
@media screen and (max-width:910px){
    .home-container{
        display:block;
    }
  .home-text h1{
    font-size: 40px;
  }
.home-container .row-2 img{
    width: 508px;
    height: 350px;
    border-radius: 19px;
    margin: 2em;
    
    }

    .about{
        display: block;
    }

    .section-2{
        display: block;
    }

    .about-section-2-row-1{
        display: flex;
        margin-left: 2em;
        margin-bottom: 2em;
    }
    
    .about-section-2-row-1 img{
        width: 200px;
    }

    .about-section-2-row-1 h2{
       
        width: 316px;
        height: 91.78px;
        margin-left: 2.5em;
        margin-top: 3em;
        font-weight: 700;
        font-size: 48px;
        }
        
        .about-section-2-row-2 .p-1 {
width: 500px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.5em;
color: #000000;
margin-bottom: 1.5em;
        }

        .about-section-2-row-2 .p-2{
            width: 500px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.5em;
color: #000000;
margin-bottom: 1.5em;

        }

        .about-section-2-row-2 .p-3{
            width: 500px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.5em;
color: #000000;
margin-bottom: 1.5em;

        }

        .section-3 h1{
            padding-top: 2em;
            color: #000000;
            font-size: 30px;
            font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        text-align: center;
        line-height: 140%;;
        }

        .about{
            display: block;
            justify-content: space-between;
            margin-top: 5em;
        }
        .about-row-1 h1{
        width: 538px;
        height: 134px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 100%;
        color: #000000;
        }
        .about-row-1 span{
            color: #990000;
            line-height: 2em;
        }
       
        .about-row-2 h3{
        text-align: center;
        margin-bottom: 1em;
        width: 397px;
        height: 84px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #000000;
        }

        .mobile-img{
            display: none;
        }
        
        .about-row-2 img{
            width: 335px;
            height: 223px;
        }

        footer {
            position: fixed;
            background-color: gray;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 8px;
            text-align: center;
          }

          .home-container .row-2 img{
            width: 408px;
            height: 350px;
            margin-right: 4em;
            border-radius: 19px;
            
            }

            .home-text h1{
                font-size: 30px;
                margin-left: 1em;
                
            }

            .call-to-action{
                display: flex;
                margin-left: 1.5em;
              
            }
                .media-icons {
                    background: #990000;
                    text-align: center;
                    padding-top: 1em;
                }
                
                .media-icons img{
                    width: 48px;
                    height: 48px;
                    margin: 15px;
                }

                .team{
                    display: grid;
                    justify-content: center;
                }

                
        .mobile-img{
            display: block;
            width: 335px;
            height: 223px;
           
        }

        .footer-text-container{
        line-height: 100px;
        height: 20vh;
        }
        
        .footerText{
        font-family: 'DM Sans';
        font-size: 20px;
        
        }
        
        .footerText p{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        
        }
        .about-row-1 img{
            display: block;
            width: 400px;
            height: 300px;
            margin-left: 2em;
            }

            .about-row-2 img{
                display: block;
            width: 400px;
            height: 300px;
            margin: 0;

            }

            .about-row-1 h1, .about-row-2 h3{
                margin-left: 1em;
            }

            .section-3-text{
            margin-left: 5px;
            }
            .section-3-text h1{
                font-size: 25px;
            }

            .section-3-text h3{
                font-size: 15px;
                margin-top: 5px;
            }

            .nav-links a{
                display: block;
                background-color: #ffffff;
                color: #000000;
                margin: 15px;
            }

            .flex-row-3{
                display: none;
            }
            .nav-links{
                box-shadow: inset 5px 5px 12px #fff,
                5px 5px 12px rgba(0, 0, 0,0.16);
                width: 170px;
                height: 300px;
            }
            .about-section-2-row-2 .p-1, .about-section-2-row-2 .p-2,.about-section-2-row-2 .p-3 {
                font-size: 14px;
            }



}